/* styles.css */

/* Fuente global */
.root {
    -fx-font-family: "Segoe UI", sans-serif;
}

/* Estilo de los TextField */
.text-field {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-border-width: 1;
-fx-padding: 6px 10px 6px 10px;
    -fx-prompt-text-fill: #a9a9a9; /* color del texto de placeholder */
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

.text-field:focused {
    -fx-border-color: #3f51b5;     /* azul al enfocar */
    -fx-border-width: 2;
}

/* Estilo del Button */
.button {
    -fx-background-color: 
        linear-gradient(
            to bottom, 
            #f0f0f0 0%,
            #dcdcdc 50%,
            #c8c8c8 100%
        );
    -fx-background-radius: 5;
    -fx-border-color: #999999;
    -fx-border-radius: 5;
    -fx-border-width: 1;
-fx-padding: 8px 15px 8px 15px;
    -fx-text-fill: #333333;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color:
        linear-gradient(
            to bottom,
            #e8e8e8 0%,
            #cfcfcf 100%
        );
}

.button:pressed {
    -fx-background-color:
        linear-gradient(
            to bottom,
            #c0c0c0 0%,
            #a8a8a8 100%
        );
}
/* Aplica a todo el AnchorPane raíz */
/* Con selector de clase (.) */
.imagen-fondo {
    -fx-background-image: url("FondoIniSes.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}
.imagenLogoYNombre-fondo {
    -fx-background-image: url("Logo&Nombre.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}